body {
    margin: 0px;
    padding: 0px;
}
/*HeaderFooter-------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-img {
    display:flex;
    justify-content:center;
    border: 1px solid rgba(0, 0, 0, 0.125);
    align-items:center;
}
.footer {
    width: 100%;
    }
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background: #251A42;
    height:120px;
  
}
.footer-container-img {
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 21px;
    background: #251A42;
}
.footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 21px;
    background: #251A42;
    height: 150px;
}
.footer-info-message {
    width: 492px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    color: #AAAAAA;
}
/*Body*/
.display-img{
    width:100%;
}
.article-c
{
    display:flex;
    justify-content:center;
    align-items:center;
}
.article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    background: #FFFFFF;
}
.article-text1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 33px;
    width:800px;

    color: #6963A3;
}
.article-text2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #2A2841;
}
.article-text3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    text-align: justify;
    color: #2A2841;
    width:800px;
}
.profile {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 33px;
    background: #FFFFFF;
    margin: 3em 0em;
}
.profile-img {
    width: 30.0vw;
    border-radius:100%;
}
.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    background: #FFFFFF;
    width:500px;
}
.profile-info-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 33px;
    text-align: justify;

    color: #6963A3;
    letter-spacing: 1.5px;
}
.profile-info-bio {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;    
    line-height: 26px;
    text-align: justify;

    color: #2A2841;
    letter-spacing: 1.5px;
}
.profile3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 16px;
    background: #FFFFFF;
    margin-bottom:3em;
}
.profile3-img {
    width: 30.0vw;
    border-radius: 100%;
}
.profile3-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 33px;

    text-align: center;
    letter-spacing: 2px;
    color: #6963A3;
}
.profile3-bio {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
/*    padding:10px;
*/
    text-align: center;
    letter-spacing: 2px;
    color: #777777;
}
.profile3-info
{
    width:800px;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration:auto;
}
a:hover {
    box-shadow: inset 500px 0 0 0 #54b3d6;
  color: white;
}
a:active {
    text-decoration: none;
}
.profile4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 3em;
}
.profile4-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    width:400px;
    background: rgba(232, 234, 235, 0.5);

}
.profile4-content-img {
    width: 30.0vw;
}
.profile4-content-text1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;


    color: #2A2841;
}
.profile4-content-text2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 18px;
    color: #2A2841;
 }
.section-donate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    gap: 16px;
    margin-bottom: 3em;
}
.section-donate-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F3F4F5;
    gap:20px;
    }
.section-donate-content-cancer {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;

    text-align: center;
    color: #AEB5B8;
}
.section-donate-content-gap {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 27px;
    text-align: center;
    color: #6963A3;
}
.section-donate-button {
    height:35px;
    text-align:center;
    background: #6963A3;
    border-radius: 6px;
}
button {
    border-radius: 6px;
    border: none;
    color: #FFFFFF;
    background: #6963A3;
    font-size: 22px;
}
.section-donate-content-img{
    width:30.0vw;
}
.section-gloves {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    gap: 16px;
    border-radius: 6px;
    margin-bottom:3em;
}
.section-gloves-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    background: rgba(232, 234, 235, 0.5);
    width:30vw;
}
.section-gloves-content-txt1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 33px;
    color: #251A42;
    background: rgba(232, 234, 235, 0.5);
}
.section-gloves-content-txt2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 2px;
    color: #251A42;
}
.section-gloves-content-button {
    height: 33px;
    background: #6963A3;
    border-radius: 6px;
    text-align:center;
}
.section-gloves-img-img {
    width: 30vw;
    background: rgba(232, 234, 235, 0.5);
}
.section-donate-2 {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
}
.section-donate-2-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: #F3F4F5;
    gap: 16px;
    width:63%;
}
.section-donate-2-content-cancer {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;

    text-align: center;
    color: #AEB5B8;
}
.section-donate-2-content-gap {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 27px;

    text-align: center;
    color: #6963A3;
}
.section-donate-2-button {
    width: 96px;
    height: 33px;

    background: #6963A3;
    border-radius: 6px;
    text-align: center;
}
.section-donate-2-content-img {
    width: 35vw;
}
.section-facts {
    display: flex;
    flex-direction: row;
    gap: 20%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 320px;
    background: #C9C7DE;
}
.section-facts-content {
    display:flex;
    flex-direction:column;
    gap:16px;
    align-items:center;
}
.section-facts-content-symbol {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 26px;
    color: #534A6A;
}
.section-facts-content-figure {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 90px;
    line-height: 142px;

    text-align: center;
    letter-spacing: -0.1em;
    color: #534A6A;
}
.section-facts-content-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;

    text-align: center;
    color: #534A6A;
}
.support {
    color: #5D5891;
}
.x {
    letter-spacing: 2px;
}
.section-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20%;
    width: 100%;
    height: 320px;
}
.section-contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    background: #FFFFFF;
}
.section-contact-content-img{
    width:5vw;
}
.section-contact-content-txt {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    /* or 162% */


    color: #2A2841;
}
.section-contact-content-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 19px;


    color: #0094FF;
}
/*Styling the Doctore's profile*/
.profile-doc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 100vh;
    background-image: url(/images/BackGroundImage.jpg);
}
.profile-signature {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 33px;
    color: black;
}
.profile-profile-doc {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: black;
    width: 600px;
    height: 208px;
}
.profile-content-doc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.profile-img-doc {
    width: 40vw;
    margin-top: 3em;
}
.Doc-profile-title{
    text-align:center;
}
/*Styling Register and Login Header*/
.contains-headings
{
    margin:20px 0px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    text-align:center;
}